.jobs {
  &-box {
    background: #fff;
    padding: 15px 8px 13px 15px;
    border-radius: 7px;
  }
  &-top{
    margin-bottom: 10px !important;
  }
  &-title {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
  }
  &-top-name {
    color: #000;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-staff {
    width: 29px;
    height: 34px;
    & img {
      width: 29px;
      height: 100%;
      object-fit: cover;
    }
  }
  &-staff-name {
    color: #272727;
    font-family: Roboto;
    font-size: 14.397px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 9px;
    &-name{
      color: #272727;
      font-family: Roboto;
      font-size: 14.397px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      margin-bottom: 9px;
      height: 34px;
    }
    &-time{
        color: #272727;
        font-family: Roboto;
        font-size: 14.397px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-bottom: 9px;
        width:40%;
    }
  }
  &-status-one {
    padding: 10px 10px;
    text-align: center;
    border-radius: 7px;
    height: 25.055px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-time{
    margin-bottom: 10px !important;
  }
}
.status {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
  color: #272727;

}
.work-status {
  width: 111px;
  height: 32px;
  background: #ffecd7;
  color: #ff9f38;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.line {
  height: 1px;
  background-color: #cab4b4; /* Màu của đường kẻ, bạn có thể thay đổi màu sắc tại đây */
  width: 100%; /* Chiều rộng của đường kẻ, có thể thay đổi tùy ý */
}
.css-text-dark{
  font-size: 14px !important;
  font-weight: 500 !important;
}
.jobs-staff-status{
  margin-bottom: 5px !important;
}
.no-line-break {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-line-break-content {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:160px;
}

.two-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Số dòng hiển thị (2 dòng)
  -webkit-box-orient: vertical;
}
.width-name{
  width: 250px;
}
.width-field{
  width: 210px;
}
.font-size{
  font-size: 14px;
  &-12{
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
  }
}
.text-1{
  color: #dc3545;
}
.text-2{
  color: #ff9f38ed;
}
.text-3{
  color: #20df7f;
}
.background-1{
  background: #dc3545;
}
.background-2{
  background: #ff9f38ed;
}
.background-3{
  background: #20df7f;
}

.width-avatar{
  width: 50px!important;
  height:50px!important;
  margin-right: 10px !important;
}
.jobs-box{
  &:hover {
    background-color: #f5f5f5 !important; /* Set the background color for the hover effect */
    cursor: pointer; /* Change the cursor on hover if you want to indicate interactivity */
  }
}