.hovered-span
{
    background-color: rgb(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    color: rgb(1, 1, 1);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: -45px;
    border-radius: 7px 0px 0px 7px; 
    padding: 2px 5px;

}