.model-names {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
}
.upload-load {
  background: #6c5dd3;
  width: 100px;
  text-align: center;
  height: 31px;
  line-height: 31px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #ffff;
  cursor: pointer;
}
.warehouse-model-updaload {
  width: 130px;
  height: 150px;
}
.closes {
  border: none;
  outline: none;
  background: transparent;
  top: -12px;
}
.modal-content{
  top:32px;
}
.warehouse-model-input::placeholder
{
  color: rgb(0, 0, 0, 0.4);
}
.width-label
{
  width: 85px !important;
}
.warehouse-model-btn
{
  &:hover
  {
    background: #6c5dd3;
  }
}

.warehouse-content-top-dot{
  margin-top: -20px;
  width: 20px !important;
  height: 15px !important;
}
.bordered-item-warehouse{
  font-size: 15px;
}
.warehouse-model-img{
  width: 160px !important;
  height: 160px !important;
}
.warehouse-model-line
{
  width: 100% !important;
}
.warehouse-model-name
{
  margin-bottom: 15px !important;
}
.text-end{
  padding-right: 10px !important;
  padding-bottom: 0px !important;
}

.sample-textarea
{
  border-radius: 8px;
  padding: 15px;
  margin-left: 15px;
  border-color: rgba(58, 53, 65, 0.1215686275);
}