.sample-type{
    margin-bottom: 35px;
    &-sex{
        &-thin-line {
            width: 180px; /* Độ dài của đường thẳng */
            height: 0; /* Đặt chiều cao thành 0 để chỉ tạo đường thẳng */
            border-top: 2px solid black; /* Đường thẳng màu đen với độ dày 2px */
            &-female{
                width: 160px !important;
                height: 0; /* Đặt chiều cao thành 0 để chỉ tạo đường thẳng */
                border-top: 2px solid black;
            }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        &-male
        {
            margin-right: 20px;
            font-size: 25px;
            font-weight: 700;
            width: 180px;
            cursor: pointer;
        }
        &-female
        {
            width: 160px;
            font-size: 25px;
            font-weight: 700;
            cursor: pointer;
        }
    }
    &-clothe{
        display: flex;
        justify-content: center;
        align-items: center;
        &-label{
            &:hover{
                background-color: #fff;
            }
            &:hover{
                background-color: #fff;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 9px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 700;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}
.sample-product{
    position: relative;
    &-product
    {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.08);
        height: 435px;
        cursor: pointer;
    }
    &-icon
    {
        z-index: 1; 
        text-align: end;
        height:35px;
    }
    &-img{
        border-radius: 10px;
        position: relative;
        &-img{
            border-radius: 10px;
            width: 250px;
            height: 320px;
        }
        &-detail{
            border-radius: 10px;
            width: 500px;
            height: 520px;
        }
        text-align: center;
    }
    &-name{
        text-align: left !important;
        color: #6b6059;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
        margin-left: 25px;
    }
    &-information
    {
        text-align: left !important;
        color: #6b6059;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-left: 25px;

    }
}
.active-index{
    background-color: #fff;
}

.like-text {
    display: none; /* Ẩn nội dung "Thích" ban đầu */
    font-weight: bold; /* In đậm văn bản */
    font-size: 13px; /* Điều chỉnh kích thước văn bản */
    color: #333; /* Màu văn bản */
    position: absolute;
    margin-left: 230px; 
    margin-top: -12px;/* Đặt vị trí giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch vị trí để căn giữa */
    background-color: rgba(255, 255, 255, 0.4); /* Màu nền của văn bản */
    padding: 5px 6px; /* Khoảng cách giữa chữ và biểu tượng */
    border-radius: 5px; /* Làm tròn góc của nền */
    transition: opacity 0.3s, transform 0.3s; /* Hiệu ứng khi hover */
    z-index: 1000;
    
}

.sample-product-icon:hover .like-text {
display: block; /* Hiển thị nội dung "Thích" khi hover vào */
opacity: 1; /* Hiển thị hoàn toàn nội dung */
transform: translate(-50%, -50%) scale(1.1) ; /* Phóng to và căn giữa khi hover */
}
.heart-icon {
    margin: 5px 10px 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

.heart-icon:hover {
color: red;
transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
z-index: 1; 
}

#like-index {
    margin: 5px 10px 0;
    color: red;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

#like-index:hover {
color: rgba(255, 255, 255, 0.8);
transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
z-index: 1; 
}
.sample-product-no-product
{
    background-color: rgba(255, 255, 255, 0.35);
    height: 435px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.name-sample {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; // Số dòng hiển thị (2 dòng)
    -webkit-box-orient: vertical;
    height: 30px;
    margin-bottom: 5px;
}

.breadcrumb
{
    &-sample{
    border-radius: 5px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-top: -30px;
    margin-bottom: 30px;
    }
    &-item{
        &:hover{
            background-color: rgb(255, 255, 255, 0.2);
        }
        padding: 8px;
        border-radius: 8px;
    }
}
.nameSample{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px !important;
    width: 70%;
    text-align: start !important;
    align-items: center !important;
    align-content: center !important;
    display: flex !important;
}
.sample-img-detail
{
    text-align: end!important;
    margin-right: 30px !important;
}
.sample-price
{
    margin-left: 0px !important;
    font-size: 20px;
    color: #f2a10b;
    margin-bottom: 5px !important;
    &p{
        margin-bottom: 0px !important;
    }
}
.sample-note
{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px !important;
    text-align: start !important;

    &-title{
        font-size: 20px;
        color: #ffffff;
        font-weight: 600;  
        margin-bottom: 0px !important;  
    }
    &-text{
        border-radius: 10px !important;
        margin-left: 0px !important;
        font-size: 17px !important;
        font-weight: 400;
    }
}

.sample-width-icon
{
    width: 50px !important;
    height: 20px !important;
}

.icon-detail-sample{
    width: 30% !important;
    text-align: end!important;
    margin-right: 30px !important;
}
.icon-icon{
    margin-right: 10px !important;
}
.width-35
{
    width: 35% !important;
}
.width-50
{
    width: 50% !important;
}

.width-15
{
    width: 15% !important;
}
.sample-product-img1
{
    text-align: end!important;
    &-detail1{
        border-radius: 8px !important;
        width: 80px !important;
        height: 100px !important;
        margin-bottom: 10px;
        cursor: pointer;
        transition: transform 0.3s ease; 
        &:hover {
            transform: scale(1.1);
        }
    }
}
.price{
    &-price
    {
        font-size: 20px;
        color: #f2a10b;
        margin-bottom: 5px !important;
        margin-top: 0px !important;
    }
    &-title
    {
        color: #ffffff;
        font-size: 20px;
        margin-right: 10px;
        margin-bottom: 5px !important;
        }
}


#like-index1 {
    margin: 5px 10px 0;
    color: red;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

#like-index1:hover {
color: rgba(255, 255, 255, 0.8);
transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
z-index: 1; 
}