.nav-item{
  margin-right: 10px;
}
.warehouse {
  &-select {
    padding: 10px 0px 14px 10px;
  }
  &-text {
    color: #858585 !important;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-radius: 10px;
    border: 1px solid #858585 !important;
  }
  &-content {
    padding: 10px 0px 14px 10px;
  }
  &-content-box {
    width: max-content;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
  }
  &-content-top {
    width: 368px;
  }
  &-content-top-name {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 170px;
  }
  &-content-top-price {
    color: #b6b6b6;
    font-family: "Roboto", sans-serif;
    font-size: 14.397px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.5rem !important;
  }
  &-content-top-center {
    width: 175px;
    height: 200px;
  }
  &-content-top-center-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-content-top-group {
    width: 160px;
    height: 40px;
    border-radius: 6px;
    background: #ffecd7;
    margin-right: 9px;
    padding: 0 9px;
  }
  &-content-top-used {
    color: #ff9f38;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5px;
    padding-right: 20px;
  }
  &-content-top-number {
    border: none;
    outline: none;
    color: #ff9f38;
    width: 25px;
    background: transparent;
  }
  &-content-top-group-total {
    border-radius: 4px;
    background: #bff1df;
    width: 130px;
    margin-bottom: 10px;
    padding: 4px 10px;
  }
  &-content-top-total {
    padding-left: 5px;
    padding-right: 25px;
    color: #2eb67d;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-top-group-remaining {
    border-radius: 4px;
    background: #9a8a78;
  }
  &-content-top-group-remaining {
    border-radius: 4px;
    background: rgb(255, 132, 0, 0.5);
    width: 130px;
    color: #fff;
    margin-top: 8px;
    padding: 8px 6px;
  }
  &-content-top-remaining-id {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5px;
    padding-right: 15px;
  }
  &-content-bottom {
    color: rgb(0, 0, 0, 0.7);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 195px;
    margin-top: 15px;
    text-align: center;
  }
  &-content-top-dot {
    cursor: pointer;
  }
  &-model-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  &-model-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-model-title {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.15px;
    padding-top: 10px;
  }
  &-model-name {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.15px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  &-model-line {
    width: 300px;
    height: 1px;
    margin-bottom: 20px;
    background: #3a35411f;
  }
  &-model-item {
    list-style: none;
    margin: 0;
    color: #3a3541cc;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.1px;
    padding: 6px 0px;
    & span input {
      font-weight: 600;
      color: #ffa15c;
    }
  }
  &-model-menu {
    padding: 0;
    margin: 0;
  }
  &-model-btn {
    padding: 7px 22px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #2684ff;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    border: none;
    outline: none;
  }
  &-model-input {
    width: 50%;
    border: none;
    outline: none;
    padding-left: 15px;
    background: transparent;
  }
}
.total {
  color: #2eb67d;
}
.nav-link.active {
  color: #fff !important;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  border-radius: 10px;
  border: 1px solid #6c5dd3 !important;
  background: rgb(108, 93, 211) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgb(108, 93, 211, 0.5) !important;
  }
}
.warehouse-content-top-increase,
.warehouse-content-top-reduce {
  border: none;
  outline: none;
  background: transparent;
  padding: 2px;
  height: 14px;
}
.modal-body {
  border-radius: 12px;
  background: #e9e7eb;
  width:600px;
}
.modal-backdrop {
  --bs-backdrop-zindex: -1 !important;
}
.width-icon
{
  font-size: 12px !important;
  cursor: pointer;
  padding: 2px;
  &:hover{
    background-color: rgb(0, 0, 0, 0.1);
  }
}
.btn-cancel-admin{
  border-radius: 8px;
  border: 1px solid #858585;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 30px;
  padding: 0 10px;
  &:hover{
    background-color: rgb(133, 133, 133, 0.5);
  }
}
.btn-update-admin
{
  border-radius: 8px;
  border: 1px solid #858585;
  height: 40px;
  margin-top: 15px;
  color: black ;
  background-color: #006eff;
  cursor: pointer;
  padding: 0 10px;
  &:hover{
    background-color: rgb(0, 110, 255, 0.5);
  }
}
.btn-update-admin-non-active
{
  border-radius: 8px;
  border: 1px solid #858585;
  height: 40px;
  margin-top: 15px;
  color: black ;
  background-color: rgb(0, 110, 255, 0.5);
  cursor: pointer;
  padding: 0 10px;
}
.nav-link.active.selected{
  background-color: rgb(36, 31, 72)!important;
}
.drop-width
{
  width: 50px !important;
}

/* CSS cho modal sử dụng thư viện react-modal */
.ReactModal__Overlay {
  /* Lớp cho overlay xám xung quanh modal */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Đảm bảo modal hiển thị trên cùng của các phần tử khác */
}

.ReactModal__Content {
  /* Lớp cho nội dung modal */
  position: relative;
  background: #fff; /* Màu nền của modal */
  border: 1px solid #ccc; /* Viền modal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng cho modal */
  width: auto; /* Chiều rộng tối đa của modal */
  height: auto;
  overflow: auto;
  border-radius: 12px;
  /* Thêm các thuộc tính CSS khác cho modal tại đây */
}

/* CSS cho nút đóng modal */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* Thêm kiểu khác cho nút đóng modal tại đây */
}

.model-names {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
}
.upload-load {
  background: #6c5dd3;
  width: 100px;
  text-align: center;
  height: 31px;
  line-height: 31px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #ffff;
  cursor: pointer;
}
.warehouse-model-updaload {
  width: 130px;
  height: 150px;
}
.closes {
  border: none;
  outline: none;
  background: transparent;
  top: -12px;
}
.modal-content{
  top:0px;
}
.warehouse-model-input::placeholder
{
  color: rgb(0, 0, 0, 0.4);
}
.width-label
{
  width: 85px !important;
}
.warehouse-model-btn
{
  &:hover
  {
    background: #6c5dd3;
  }
}

.warehouse-content-top-dot{
  margin-top: -20px;
  width: 20px !important;
  height: 15px !important;
}
.bordered-item-warehouse{
  font-size: 15px;
}
.padding{
  padding-left: 20px;
}
.text-end{
  padding-right: 20px;
  padding-bottom: 20px;
}